header{
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 20vw;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: right;
}
nav ul li{
    display: inline;
    cursor: pointer;
}
nav ul li:not(:first-child){
    margin-left: 16px;
}